body {
    font-family: 'lemonada';
    background-image: url(../images/3a8adc8a-fe27-41c4-b4ce-da7a5c08630e.jfif);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    animation: moveBackground 120s linear infinite; /* تحريك الخلفية */
}
@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.forgot-password-container {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    color: #fff;
    margin-bottom: 10px;
}
p {
    color: #fff;
}

label {
    color: #fff;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    font-family: "Lora", serif;
    width: 100%;
    padding: 10px;
    background-color: #6a11cb;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #2575fc;
}

#message {
    margin-top: 20px;
    color: #6a11cb;
}
.forgot-password-container a {
    text-decoration: none;
}
.forgot-password-container a:hover {
    color: #2575fc;
}